.header {
    padding: var(--spacing-medium);
    font-family: var(--font-display);

    h1 {
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        border-bottom: none;
    }
}

.separator, .slug {
    font-weight: 200;
}

.separator {
    margin: 0 var(--spacing-xsmall);
}