.image {
    margin: 0;
    padding: var(--spacing-medium);
    display: block;
    border-bottom: none;

    img {
        max-width: 100%;
    }
}

.imageFull {
    padding: var(--spacing-medium) 0;
    width: 100%;
    max-width: 100%;

    .caption {
        padding: 0 var(--spacing-medium);
    }
}

.figure {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.caption {
    font-weight: bold;
}