.title {
    font-size: 2rem;
    padding: var(--spacing-medium);
    padding-top: 0;
    margin: 0;
    // margin-bottom: var(--spacing-medium);
}

.post {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    line-height: 1.3;
    font-weight: 500;

    > * {
        max-width: var(--width);
    }

    ol, ul {
        padding: 0;
        padding-left: var(--spacing-large);
        margin: 0 var(--spacing-medium);
        // list-style-position: inside;
    }

    blockquote {
        margin: 0;
        margin: 0 var(--spacing-medium);
        border-left: 2px solid var(--color-foreground);
        padding: 0;
    }

    hr {
        height: 2px;
        background: var(--color-foreground);
        border: none;
        width: 100%;
        margin: var(--spacing-medium);
    }
    // a {
    //     font-weight: 600;
    // }
}

.footer {
    padding-top: 0.75vh;
}