.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);

    padding: 0 !important;
}

.link {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: var(--spacing-small);
    // border: 1px solid black;
    border: none;
}

.name {
    font-size: 1.4rem;
}

.info {
    display: flex;
    align-items: baseline;
    gap: var(--spacing-small);
}


.ttrpgGame {
    border: 2px solid var(--color-foreground);

    .name {
        font-weight: bold;
    }

    .type {
        font-weight: bold;
        background: var(--color-foreground);
        color: var(--color-background);
        padding: 0 8px;
    }
}

.for {
    border: 1px solid var(--color-foreground);
    padding: 0 8px;
}